.login-container{
  width: 100%;
  min-height: 100vh;
  padding: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.user-login{
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.header-container h1{
  font-size: 3rem;
  font-weight: var(--semibold);
}
.header-container p {
  font-size: 1rem;
  font-weight: var(--medium);
  color: var(--secondary-txt-color);
  margin-top: .5rem;
}
.google-login-container {
  margin-top: 36px;
  padding: .5rem .75rem;
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: .25rem;
  justify-content: center;
  align-items: center;
  border-radius: var(--btn-rounded-md);
  background-color: var(--secondary-bg-color);
}
.google-login-container:hover {
  background-color: #161616;
  cursor: pointer;
}
.google-btn {
  border: none;
  color: var(--secondary-txt-color);
  background-color: transparent;
  cursor: pointer;
}
.input-form{
  margin: 42px 0 26px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.input-form .input-container{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  font-size: 1rem;
  color: var(--secondary-txt-color);
}
.input-form input{
  padding: .75rem 1rem;
  width: 100%;
  border: 1px solid var(--input-default-border-color);
  border-radius: var(--input-rounded-md);
  color: var(--primary-txt-color);
  background-color: var(--secondary-bg-color);
  font-size: 1rem;
}
.input-form input:focus, .input-form input:focus-visible{
  border-color: var(--input-active-border-color);
  outline: none;
}
.checkbox-container{
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
.checkbox-container input{
  height: 100%;
  cursor: pointer;
}
.checkbox-container label:last-child{
  position: absolute;
  left: 1.25rem;
  cursor: pointer;
}
.checkbox{
  padding-right: 100%;
  cursor: pointer;
}
.btn-container *{
  width: 100%;
}
.login-btn{
  padding: .75rem 0;
  border: none;
  border-radius: var(--btn-rounded-md);
  color: var(--primary-txt-color);
  background-color: var(--btn-default-color);
}
.login-btn:hover{
  background-color: var(--btn-hover-color);
  cursor: pointer;
}
.sign-up-form{
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  font-size: .75rem;
}
.sign-up-form div{
  display: flex;
  gap: 1rem;
}
.sign-up-form div p{
  color: var(--accent-txt-color);
}
.sign-up-form a{
  color: var(--secondary-txt-color);
  text-decoration: none;
}
.sign-up-form a:hover{
  text-decoration: underline;
  cursor: pointer;
}
.img-container{
  position: relative;  
  color: var(--primary-txt-color);
}
.img-container{
  margin-block: auto;
  min-width: 260px;
  height: 80%;
  border-radius: var(--img-rounded-lg);
  background-color: #04213c7e;
  background-image: url('public/sample-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}
.img-container p{
  position: absolute;
  bottom: 1rem;
  width: 100%;
  padding-inline: 2rem; 
  font-size: 2.25rem;
  line-height: 3.75rem;
  font-weight: var(--semibold)
}